.wrapLogin {
  display: flex;
  margin-top: 10px;
}
.conteiner {
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
}

.conteiner img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  #preview {
    display: none;
  }
}
