@import './root.less';
@import './scroll.less';
@import './container.less';
@import './common.less';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}
img {
  object-fit: cover;
  object-position: center;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--bodyColor);
  background-image: var(--bodyImage);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
input {
  border: 0;
  outline: 0;
  background: 0;
  font-size: var(--size-text-main);
  font-family: var(--font-text-main);
}
button {
  border: 0;
  outline: 0;
  background: 0;
  font-size: var(--size-text-main);
  font-family: var(--font-text-main);
  cursor: pointer;
  padding: 0;
}
