:root {
  // --bodyImage: url('https://i.ytimg.com/vi/kOv5wYk0SK8/maxresdefault.jpg');
  // playground
  // --playground: rgb(30, 30, 30);
  --playground-border: 10px;
  //main text
  --size-text-main: 14px;
  --font-text-main: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  // --color-text-main: #000000;
  // accent
  --accent: brown;
}
