// owner
.wrappOwner {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: calibri;
  font-weight: bold;
  font-size: 16px;
  height: 50px;
  div {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
  }
  img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
}
// text
.text {
  width: 100%;
  font-size: 14px;
  font-family: calibri;
  padding: 10px;

  word-wrap: break-word;
  white-space: normal;
  hyphens: auto;
}
// likes comm
.wrappActions {
  width: 100%;
  display: flex;
  .icon {
    cursor: pointer;
    border-radius: 30px;
    margin-left: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    img {
      width: 23px;
      height: 25px;
    }
  }
}
// images
.wrappImages {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 5px;
  #childSwiper {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  .small {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    img {
      width: 100%;
      height: 100%;
      filter: blur(15px);
      transform: scale(1.1);
    }
  }
  .medium {
    max-width: 100%;
    height: 100%;
    z-index: 1;
    img {
      max-width: 100%;
      height: 100%;
      z-index: 1;
      margin: 0 auto;
    }
  }
}
.modalImage {
  position: absolute;
  width: 100%;
  height: 100%;
  background: red;
}

.artInModal {
  width: 100%;
  img {
    width: 100%;
  }
}
