* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
  font-size: 14px;
  font-family: calibri, sans-serif;
  text-decoration: none;
  list-style: none;
  font-family: monospace;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background: rgb(235, 235, 235);
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #960000 #dfe9eb;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 8px;
  width: 8px;
}
*::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-track:hover {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #960000;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #963e3e;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #ca0000;
}
