.listSettings {
  width: 20%;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

.listSettings li {
  list-style: none;
  font-family: var(--font-text-main);
  font-size: var(--size-text-main);
  color: var(--color-text-main);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.listSettings li:hover {
  background: var(--bodyColor);
}
