.wrapLikeCommDislike {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-top: 10px;
}
.wrapLikeCommLikeSvg {
  height: 20px;
  margin-right: 5px;
}
.like,
.comm {
  margin-left: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 3px 15px;
  border-radius: 30px;
  box-shadow: 0px 0px 5px 1px #c0c0c0;
  /* border: 2px solid #c0c0c0; */
}
.count {
  color: #c0c0c0;
}
