.menu {
  position: absolute;
  top: 60px;
  z-index: 10;
  right: 0;
  box-shadow: 0px 0px 5px 0.1px rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
  width: 200px;
  border-radius: var(--playground-border);
  background: var(--playground);
  display: none;
}

.menu:hover {
  display: block;
}

.menu li {
  display: flex;
  align-items: center;
  transition: all 0.3s;
  padding: 3px 10px;
  border-radius: 5px;
  list-style: none;
}

.menu li:hover {
  background: rgba(211, 211, 211, 0.612);
}

.menu li a {
  text-transform: lowercase;
  font-family: monospace, sans-serif;
  line-height: 30px;
  width: 80%;
  margin-left: auto;
  padding-left: 5px;
  text-decoration: none;
  color: var(--color-text-main);
  font-family: var(--font-text-main);
  font-size: var(--size-text-main);
}

.menuSvg {
  width: 20px;
  height: 20px;
}

.focusBtn {
  border: 0;
  outline: 0;
  background: 0;
}

.focusBtn:focus + .menu {
  display: block;
}

.headerMenuSvg {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerMenuSvg img {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  padding: 5px;
  transition: 0.3s;
}

.headerMenuSvg img:hover {
  background: lightgray;
}

/* notification */
.notification {
  margin-right: 5px;
  border: 0;
  outline: 0;
  background: 0;
  margin-left: auto;
}

.notification:focus + .notificationWrapper {
  display: block;
}

.notificationSvg {
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notificationSvg img {
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 10px;
  transition: 0.3s;
}

.notificationSvg img:hover {
  background: lightgray;
}

.notificationWrapper {
  position: absolute;
  display: none;
  top: 80px;
  right: 0;
  background: var(--playground);
  border-radius: var(--playground-border);
  z-index: 999;
  box-shadow: 0px 0px 5px 0.1px rgb(200, 200, 200);
  margin-top: 10px;
}

.notificationWrapper .body {
  margin-left: 10px;
}

.notificationWrapper .body .title {
  font-family: var(--font-text-main);
  font-size: var(--size-text-main);
  font-weight: bold;
}

.notificationWrapper .body .description {
  font-family: var(--font-text-main);
  font-size: var(--size-text-main);
}

.notificationWrapper .item {
  display: flex;
  margin: 10px 0;
  cursor: pointer;
}

.notificationWrapper .item .itemAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.notificationWrapper .item .itemAvatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.userAvatar {
  margin-left: 10px;
}

.userAvatar div {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.userAvatar img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

@media (min-width: 0px) and (max-width: 500px) {
  .userAvatar {
    display: none;
  }
}

.search__anime {
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__anime img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}

.search__anime img:hover {
  background: lightgray;
}

.search__in__modal {
  display: flex;
  align-items: center;
  width: 100%;
}

.search__in__modal .search__icon {
  display: flex;
  align-items: center;
}

.search__in__modal .search__icon img {
  width: 35px;
  height: 35px;
  margin-right: -35px;
  z-index: 9;
}

.search__in__modal input {
  width: 100%;
  margin: 0;
  padding: 15px;
  font-weight: bold;
  font-size: 18px;
}

.response__shearch__item {
  padding: 10px 20px;
  transition: 0.3s;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.response__shearch__item:hover {
  background: rgb(50, 50, 50);
}

.response__shearch__item.ligth_hover:hover {
  background: rgb(235, 235, 235);
}

.response__shearch__item .item__image {
  width: 70px;
  height: 70px;
}

.response__shearch__item .item__image img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

.response__shearch__item .description {
  margin-left: 20px;
}

.response__shearch__item .description .title {
  font-weight: bold;
  font-size: 16px;
}

.placeholder {
  width: 100%;
  height: 100%;
  text-align: center;
}
