.menu {
  position: absolute;
  top: 50px;
  z-index: 9;
  right: 10%;
  box-shadow: 0px 0px 5px 0.1px rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
  width: 170px;
  border-radius: var(--playground-border);
  background: var(--playground);
  display: none;

  &:hover {
    display: block;
  }
}
.menu li {
  display: flex;
  align-items: center;
  transition: all 0.3s;
  padding: 3px 10px;
  border-radius: 5px;
  list-style: none;
  &:hover {
    background: rgba(211, 211, 211, 0.612);
  }
}
.menu li a {
  text-transform: lowercase;
  font-family: monospace, sans-serif;
  line-height: 30px;
  width: 80%;
  margin-left: auto;
  padding-left: 5px;
  text-decoration: none;
  color: var(--color-text-main);
  font-family: var(--font-text-main);
  font-size: var(--size-text-main);
}
.menuSvg {
  width: 20px;
  height: 20px;
  transform: scale(0.9);
  margin-top: -3px;
}

.focusBtn {
  border: 0;
  outline: 0;
  background: 0;
  &:focus + .menu {
    display: block;
  }
}
.headerMenuSvg {
  width: 25px;
  height: 25px;
  margin-top: 13px;
  cursor: pointer;
}
// notification
.notification {
  margin-left: auto;
  margin-right: 10px;
  border: 0;
  outline: 0;
  background: 0;
  &:focus + .notificationWrapper {
    display: block;
  }
}
.notificationSvg {
  width: 25px;
  height: 25px;
  margin-top: 10px;
  cursor: pointer;
}
.notificationWrapper {
  position: absolute;
  display: none;
  top: 50px;
  right: 10%;
  background: var(--playground);
  border-radius: var(--playground-border);
  z-index: 999;
  padding: 0 10px;
  box-shadow: 0px 0px 5px 0.1px rgb(200, 200, 200);
  &:hover {
    display: block;
  }
  .item {
    display: flex;
    margin: 10px 0;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
}
.notificationWrapper {
  .body {
    .title {
      color: var(--color-text-main);
      font-family: var(--font-text-main);
      font-size: var(--size-text-main);
      font-weight: bold;
    }
    .description {
      color: gray;
      font-family: var(--font-text-main);
      font-size: var(--size-text-main);
    }
  }
}

.userAvatar {
  margin-left: 10px;
  div {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 10px;
  }
  img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}
