.wrapper {
  width: 80%;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0;
  h2 {
    font-family: var(--font-text-main);
    color: var(--color-text-main);
    width: 100%;
    margin: 0;
  }
  .editLogin {
    width: 100%;
    display: flex;
    align-items: center;
    input {
      width: auto;
    }
    button {
      color: #b8c0c2;
      background: #a52a2a;
      border-radius: 5px;
      height: 30px;
      margin-left: auto;
    }
  }
}

.backround {
  width: 100%;
  display: flex;
  justify-content: center;
  img {
    width: 100%;
    height: 300px;
    cursor: pointer;
  }
}
.error {
  width: 100%;
  color: var(--accent);
  font-family: var(--font-text-main);
}
.test {
  width: 200px;
  height: 200px;
}
.upload {
  display: flex;
  align-items: center;
  .changeAvatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  #ss {
    display: flex;
    align-items: center;
  }
}
.container {
  width: 100%;
  border-radius: 8px;
}

.dropzone {
  border: 2px dashed;
  border-color: var(--color-text-main);
  border-radius: 4px;
  padding: 50px;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 5px;
  transition: all 0.5s;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 50px;
    height: 50px;
  }
  &:hover {
    border-color: #a52a2a;
    opacity: 0.5;
  }
}

.editorWrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.controls {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.controls label {
  display: flex;
  align-items: center;
  gap: 10px;
}
.actions {
  display: flex;
  align-items: center;
  margin-top: 10px;
  button {
    color: #b8c0c2;
    background: #a52a2a;
    border-radius: 5px;
    height: 30px;
    margin-left: auto;
  }
}
.actions > button:nth-child(1) {
  margin-left: auto;
}
.actions > button:nth-child(2) {
  margin-left: 15px;
}

.customRange {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  height: 8px;
  border-radius: 4px;
  outline: none;
  transition: background 0.3s;
}

/* Трек для WebKit */
.customRange::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background: gray;
}

/* Ползунок для WebKit */
.customRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  margin-top: -6px;
  transition: all 0.2s;
}

/* Эффекты наведения */
.customRange:hover::-webkit-slider-thumb,
.customRange:hover::-moz-range-thumb {
  transform: scale(1.15);
}
.dropzoneWallpapper {
  width: 100%;
}
