#wrapper {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.logo {
  height: 40px;
  img {
    width: 43.6px;
    height: 38.5px;
    object-fit: fill;
    margin-top: 5px;
  }
}
