.NotFoundContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.NotFoundContainer p {
  margin: 0 auto;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: calibri, sans-serif;
  margin-top: 10%;
}

.gif {
  margin: 0% auto;
}

.gif img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  padding: 10px;
  background: transparent;
}

@keyframes fadeIn {
  0% {
    transform: scale(1);
    border: 3px dashed brown;
    border-radius: 50%;
    animation-timing-function: ease-out;
  }
  50% {
    transform: scale(0.75);
    border: 5px dashed brown;
    border-radius: 50%;
    padding: 5px;
  }
  100% {
    transform: scale(1);
    border: 3px dashed brown;
    border-radius: 50%;
    animation-timing-function: ease-out;
  }
}
