#content {
  width: 43.5%;
  margin-top: 10px;
}

.wrappSeacrh {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.wrappSeacrh .svg {
  width: 25px;
  height: 25px;
  margin: 0;
  margin-right: 5px;
  margin-top: 8px;
}

.wrappSeacrh #search {
  padding: 5px 10px;
  border-radius: 10px;
  width: 40%;
}

/* meshBlock */
.meshBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}

.meshBlock .mesh {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  border-radius: 8px;
  margin: 0 5px;
  cursor: pointer;
}

.meshBlock .mesh p {
  color: var(--color-text-main);
  font-family: var(--font-text-main);
  font-size: var(--size-text-main);
  font-weight: 500;
}
