.wrapper {
  background: var(--playground);
  margin-top: 5px;
  border-radius: var(--playground-border);
  margin-bottom: 10px;
  display: flex;
  padding: 0px 10px;
  flex-direction: column;
  width: 100%;
}
.wrapperForm {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
}
textarea {
  background: 0;
  border: 0;
  resize: none;
  outline: 0;
  font-size: 14px;
  width: 70%;
  height: 45px;
  margin-left: 10px;
  font-size: calibri;
  padding-top: 15px;
  margin-bottom: 5px;
}
svg {
  height: 25px;
  width: 25px;
  cursor: pointer;
  margin-top: 10px;
}
.label {
  display: flex;
  width: 50px;
  margin-left: auto;
  .addPhoto {
    margin-right: 10px;
    margin-left: auto;
  }
}
.error {
  width: 100%;
  margin-top: 10px;
  font-size: 14px;
  color: var(--accent);
  font-family: calibri;
  margin-left: 10px;
}
