.wrapper {
  background: var(--playground);
  margin-top: 5px;
  border-radius: var(--playground-border);
  display: flex;
  padding: 0px 10px;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.loading {
  opacity: 0.7;
}
.wrapperForm {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
textarea {
  background: 0;
  border: 0;
  resize: none;
  outline: 0;
  font-size: 14px;
  width: 70%;
  height: 45px;
  margin-left: 10px;
  font-size: calibri;
  padding-top: 15px;
  margin-bottom: 5px;
  max-height: 200px;
  overflow-y: hidden;
}

@media (max-width: 600px) {
  textarea {
    width: 60%;
  }
}
@media (max-width: 400px) {
  textarea {
    width: 50%;
  }
}

.svg {
  height: 25px;
  width: 25px;
  cursor: pointer;
  margin-top: 13px;
}
.label {
  display: flex;
  margin-left: auto;
  padding-right: 10px;
}
.error {
  width: 100%;
  margin-top: 10px;
  font-size: 14px;
  color: var(--accent);
  font-family: calibri;
  margin-left: 10px;
}
// meshBlock
.meshBlock {
  width: 100%;
  justify-content: center;
  display: flex;
  margin-bottom: 10px;
  .mesh {
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 4px 1px rgb(235, 235, 235);
    padding: 5px 10px;
    border-radius: 8px;
    margin: 0 5px;
    background: #fff;
    cursor: pointer;
    .meshIcon {
      width: 20px;
      height: 20px;
      padding: 0;
      margin: 0;
    }
    p {
      color: var(--color-text-main);
      font-family: var(--font-text-main);
      font-size: var(--size-text-main);
      padding-left: 10px;
      font-weight: 500;
    }
  }
}
