.wrapper {
  background: var(--playground);
  margin-top: 5px;
  border-radius: var(--playground-border);
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}

.loading {
  opacity: 0.7;
}

.wrapperForm {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.textarea {
  background: 0;
  border: 0;
  resize: none;
  outline: 0;
  font-size: 14px;
  width: 70%;
  height: 40px;
  margin-left: 10px;
  font-family: calibri, sans-serif;
  padding-top: 12px;
  max-height: 200px;
  overflow-y: hidden;
}

.svg {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.label {
  display: flex;
  margin-left: auto;
  padding-right: 10px;
}

.error {
  width: 70%;
  font-size: 14px;
  color: var(--accent);
  font-family: calibri, sans-serif;
  margin: 0 auto;
  padding: 10px;
  font-weight: bold;
  padding-bottom: 0;
}

/* meshBlock */

.wrapArts {
  width: 100%;
}

@media (min-width: 1600px) and (max-width: 3000px) {
  .wrapperForm {
    width: 70%;
  }
}
@media (min-width: 0px) and (max-width: 650px) {
  .textarea {
    width: 65%;
  }
}
@media (min-width: 0px) and (max-width: 400px) {
  .avatar {
    display: none;
  }
}
