.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

textarea {
  background: 0;
  border: 0;
  resize: none;
  outline: 0;
  font-size: 14px;
  width: 70%;
  height: 30px;
  padding-top: 0px;
  margin-left: 10px;
  font-size: calibri;
}

button {
  all: unset;
}

svg {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.addPhoto {
  margin-right: 10px;
}

.error {
  width: 100%;
  margin-top: 10px;
  font-size: 14px;
  color: var(--accent);
  font-family: calibri;
  margin-left: 10px;
}

.label {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.makePost {
  background: var(--playground);
  margin-top: 5px;
  border-radius: var(--playground-border);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.makePostForm {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
}

.textareaWrapper {
  padding: 5px;
  flex-grow: 1;
}

.imagePreviewWrapper {
  position: relative;
}

.imagePreviewClose {
  all: unset;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #d3d3d3aa;
}

.imagePreview {
  width: 100px;
  aspect-ratio: 1 / 1;
}

.imagesPreview {
  display: flex;
  gap: 5px;
}
