.wrapper {
  flex-direction: column;
  border-radius: var(--playground-border);
  margin: 0 auto;
  position: relative;
}

@media (min-width: 1600px) and (max-width: 3000px) {
  .wrapper {
    width: 70%;
  }
}
.wrappSubscribe {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  button {
    color: var(--accent);
    background: #ffe6e6;
    margin-left: 10px;
  }
}
.artwork {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
  .avatar {
    border-radius: 50%;
    img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@media (min-width: 720px) and (max-width: 1600px) {
  .artwork .avatar img {
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 0px) and (max-width: 720px) {
  .artwork .avatar img {
    width: 100px;
    height: 100px;
  }
}
#edit_profile_ico {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  padding: 5px;
}
#loginWrap {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 10px;
}
.nickname {
  border-radius: 20px;
  // color: #000;
  // background: rgb(235, 235, 235);
  padding: 3px 15px;
  font-weight: bold;
  overflow: hidden;
  font-family: calibri;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#edit_login_ico {
  cursor: pointer;
  padding: 5px;
  margin-left: 10px;
}
.wrapperSwiper {
  justify-content: center;
  display: flex;
  .mesh {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 8px;
    margin: 0 5px;
    cursor: pointer;
    width: 100px;

    .meshIcon {
      width: 20px;
      height: 20px;
      padding: 0;
      margin: 0;
    }
    p {
      color: var(--color-text-main);
      font-family: var(--font-text-main);
      font-size: var(--size-text-main);
      padding-left: 10px;
    }
  }
}

.artInModal {
  width: 100%;
  img {
    width: 100%;
  }
}
.pizdez {
  justify-content: center;
  display: flex;
  width: 100%;
}
