.wrapper {
  display: flex;
  width: 80%;
  flex-direction: column;
  border-radius: var(--playground-border);
  // background: var(--playground);
  margin: 0 auto;
  position: relative;
}
.wrappSubscribe {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  button {
    color: var(--accent);
    background: #ffe6e6;
    margin-left: 10px;
  }
}
.artwork {
  display: flex;
  width: 100%;
  height: 330px;
  justify-content: center;
  align-items: center;
  position: relative;
  .avatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
#edit_profile_ico {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  padding: 5px;
}
#edit_profile_ico:hover {
  background: rgb(235, 235, 235);
  border-radius: 10px;
}
#loginWrap {
  z-index: 9;
  position: absolute;
  display: flex;
  justify-content: center;
  height: 35px;
  bottom: 10px;
}
.nickname {
  border-radius: 20px;
  color: #000;
  background: rgb(235, 235, 235);
  padding: 3px 15px;
  font-weight: bold;
  overflow: hidden;
  font-family: calibri;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#edit_login_ico {
  cursor: pointer;
  padding: 5px;
  margin-left: 10px;
  margin-top: 3px;
}
#edit_login_ico:hover {
  background: rgb(235, 235, 235);
  border-radius: 10px;
}
