.wrapUsers {
  width: 70%;
  display: flex;
  margin: 10px auto;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
}
.OneUser {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-bottom: 1px solid rgb(235, 235, 235);
}
.OneUser a {
  display: flex;
  align-items: center;
}
.avatar img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.avatar div {
  border-radius: 50%;
  width: 50px;
}

.OneUser svg {
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.messUser {
  margin-left: auto;
  margin-right: 5px;
}
.removeUser {
  margin-right: 10px;
}

.OneUser .login {
  margin-left: 10px;
  font-weight: bold;
}
