.listUsers {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  overflow: hidden;
}
#content {
  display: flex;
  justify-content: center;
  width: 80%;
}
.oneUser {
  width: 100%;
  background: #fff;
  transition: all 0.5s;
  border-bottom: 1px solid rgb(235, 235, 235);
}
.oneUser:hover {
  background: rgb(235, 235, 235);
}
.oneUser:last-child {
  border-radius: 0 0 10px 10px;
}
.oneUser a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 20px;
  padding-left: 10px;
}
.oneUser .login {
  margin-left: 10px;
  font-weight: bold;
}
.wrapAvatar div {
  display: flex;
  align-items: center;
}
.wrapAvatar img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.messColumn {
  width: 60%;
  display: flex;
  margin-left: 5px;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.infoUser {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  box-shadow: 0px 0px 3px 1px lightgrey;
}
.wrapAvatar {
  width: 50px;
}
.infoUser img {
  width: 40px;
  height: 40px;
}
.infoUser .login {
  margin-left: 10px;
  font-weight: bold;
}
.bodyMess {
  display: flex;
  padding: 10px;
  flex-direction: column-reverse;
  width: 100%;
  margin: 0 auto;
  height: 490px;
  border-radius: 10px;
}
.sendForm {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 50px;
  padding: 10px;
  box-shadow: 0px 0px 3px 1px lightgrey;
}
.sendForm #textarea {
  padding-top: 15px;
  width: 100%;
}
.wrapMess {
  width: 100%;
  display: flex;
  margin: 10px 0;
}
.mess {
  display: flex;
  max-width: 80%;
  align-items: center;
}
.mess img {
  width: 40px;
  height: 40px;
}
.mess .wrapBodyMess {
  padding: 10px;
  box-shadow: 0px 0px 1px 0.5px lightgrey;
  margin-left: 10px;
  border-radius: 20px 20px 20px 0px;
  display: flex;
  align-items: center;
}
.mess .description {
  font-family: calibri;
  hyphens: auto;
  white-space: pre-line;
}
.mess .date {
  color: rgb(184, 184, 184);
  font-size: 12px;
  text-align: right;
  margin-left: 5px;
  margin-top: auto;
}
.mess#my {
  margin-left: 10px;
  margin-left: auto;
}
.mess#my .description {
  color: rgb(255, 255, 255);
}
.mess#my .wrapBodyMess {
  box-shadow: 0;
  background: brown;
  border-radius: 20px 20px 0px 20px;
}
