.wrappPosts {
  width: 100%;
  position: relative;
}
.reloadPosts {
  position: absolute;
  left: 30px;
}
.wrapper {
  width: 80%;
  max-height: 600px;
  margin: 0 auto;
  background: var(--playground);
  border-radius: var(--playground-border);
  margin-top: 10px;
  position: relative;
}
.owner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#delShow {
  animation-name: delShow;
  animation-duration: 500ms;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes delShow {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  90% {
    height: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
  }
  100% {
    transform: scale(0.3);
    height: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
    display: none;
  }
}
