#loading {
  background: rgba(210, 210, 220);
  animation-name: placeHolder;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: inherit;
  animation-duration: 1s;
  border: 0;
  img {
    visibility: hidden;
    width: 100%;
    height: 100%;
  }
}
@keyframes placeHolder {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
