.WrapOnHistorys {
  position: absolute;
  margin-left: 33.2%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.WrapOnHistorys .others {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.WrapOnHistorys .others img {
  border-radius: 50%;
  cursor: pointer;
  width: 60px;
  height: 60px;
}

.WrapOnHistorys .history_add {
  width: 60px;
  height: 60px;
  margin-top: -70px;
  transition: 0.3s;
  z-index: 9;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.WrapOnHistorys .history_add img {
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.WrapOnHistorys .history_add:hover {
  opacity: 0.5;
  background: rgba(235, 235, 235);
}

.WrapOnHistorys div {
  margin-top: 5px;
}

.WrapOnHistorys div p {
  padding: 5px 10px;
  border-radius: 20px;
  font-family: calibri, sans-serif;
  font-weight: bold;
  color: #a52a2a;
  cursor: pointer;
}

.WrapOnHistorys.feed {
  margin-top: 50px;
}

.WrapOnHistorys.profile {
  margin-top: 20px;
}
